<html>
<head>
    <title></title>
</head>
<body>
    <div id="header">
        <div><img src="/images/fixnix.png"></div>
    </div>
    <div id="main-wrap">
        <div id="sidebar">
            <%= render :partial => "layouts/menu" %>
        </div>
        <div id="content-wrap">
            <div class="sapn10 offset well">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#risk_exceptions" data-toggle="tab">Risk Exceptions</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="Policy" class="tab-pane active">

<h1>Listing Risk Exceptions</h1>

<table class="table table-bordered">
  <tr>
    <th>Risk exception title</th>
    <th>Description</th>
    <th>Author</th>
    <th>Expiration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @risk_exceptions.each do |risk_exception| %>
  <tr>
    <td><%= risk_exception.Risk_Exception_Title %></td>
    <td><%= risk_exception.Description %></td>
    <td><%= risk_exception.Author %></td>
    <td><%= risk_exception.Expiration %></td>
    <td><%= link_to 'Show', risk_exception %></td>
    <td><%= link_to 'Edit', edit_risk_exception_path(risk_exception) %></td>
    <td><%= link_to 'Destroy', risk_exception, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Risk exception', new_risk_exception_path , :class => "pure-button pure-button-primary"  %>
 </div>
                </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
        </div>
    </div>
</div>
<!-- <div id="footer">Footer</div> -->
</body>
</html>
