<html>
<head>
    <title></title>
</head>
<body>
    <div id="header">
        <div><img src="/images/fixnix.png"></div>
    </div>
    <div id="main-wrap">
        <div id="sidebar">
            <%= render :partial => "layouts/menu" %>
        </div>
        <div id="content-wrap">
            <div class="sapn10 offset well">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#risk_classifications" data-toggle="tab">Risk Classifications</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="Policy" class="tab-pane active">
<h1>Listing Risk Classifications</h1>

<table class="table table-bordered">
  <tr>
    <th>Classification type</th>
    <th>Name</th>
    <th>Classification criteria</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @risk_classifications.each do |risk_classification| %>
  <tr>
    <td><%= risk_classification.Classification_Type %></td>
    <td><%= risk_classification.Name %></td>
    <td><%= risk_classification.Classification_criteria %></td>
    <td><%= risk_classification.value %></td>
    <td><%= link_to 'Show', risk_classification %></td>
    <td><%= link_to 'Edit', edit_risk_classification_path(risk_classification) %></td>
    <td><%= link_to 'Destroy', risk_classification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New RiskClassification', new_risk_classification_path , :class => "pure-button pure-button-primary"  %>
                    </div>
                </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
        </div>
    </div>
</div>
<!-- <div id="footer">Footer</div> -->
</body>
</html>

