<%= form_for(@third_party_risk_mgt) do |f| %>
  <% if @third_party_risk_mgt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@third_party_risk_mgt.errors.count, "error") %> prohibited this third_party_risk_mgt from being saved:</h2>

      <ul>
      <% @third_party_risk_mgt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span11 offset well">
  <div class="form-horizontal">

    <div class="control-group">
    <%= f.label :Risk_Title %><br />
    <%= f.text_field :Risk_Title %>
  </div>
  <div class="control-group">
    <%= f.label :Applicable_Third_Parties %><br />
    <%= f.text_field :Applicable_Third_Parties %>
  </div>
  <div class="control-group">
    <%= f.label :Applicable_Assets %><br />
    <%= f.text_field :Applicable_Assets %>
  </div>
  <div class="control-group">
    <%= f.label :Why_are_assets_shared_with_this_TP %><br />
    <%= f.text_field :Why_are_assets_shared_with_this_TP %>
  </div>
  <div class="control-group">
    <%= f.label :How_it_will_be_controled %><br />
    <%= f.text_field :How_it_will_be_controled %>
  </div>
 <div class="control-group">
    <%= f.label :Threats %><br />
    <%= f.text_field :Threats %>
  </div>
  <div class="control-group">
    <%= f.label :Vulnerabilities %><br />
    <%= f.text_field :Vulnerabilities %>
  </div>
  <div class="control-group">
    <%= f.label :Risk_Classification %><br />
    <%= f.text_field :Risk_Classification %>
  </div>
  <div class="control-group">
    <%= f.label :Risk_Score %><br />
    <%= f.number_field :Risk_Score %>
  </div>
  <div class="control-group">
    <%= f.label :Risk_Mitigation_Strategy %><br />
    <%= f.text_field :Risk_Mitigation_Strategy %>
  </div>
 <div class="control-group">
    <%= f.label :Compensating_Controls %><br />
    <%= f.text_field :Compensating_Controls %>
  </div>
  <div class="control-group">
    <%= f.label :Risk_Residual_Score %><br />
    <%= f.number_field :Risk_Residual_Score %>
  </div>
  <div class="control-group">
    <%= f.label :Applicable_Risk_Exceptions %><br />
    <%= f.text_field :Applicable_Risk_Exceptions %>
  </div>
  <div class="control-group">
    <%= f.label :Risk_Review_Periodicity %><br />
    <%= f.date_select :Risk_Review_Periodicity %>
  </div>
   <div class="control-group">
      <%= f.submit 'Create Thirdparty', :class => "pure-button pure-button-primary"%>
      <%= link_to 'Cancel', third_party_risk_mgts_path , :class => "pure-button pure-button-primary" %>
  </div>
<% end %>

</div>
</div>