<html>
<head>
    <title></title>
</head>
<body>
    <div id="header">
        <div><img src="/images/fixnix.png"></div>
    </div>
    <div id="main-wrap">
        <div id="sidebar">
            <%= render :partial => "layouts/menu" %>
        </div>
        <div id="content-wrap">
            <div class="sapn10 offset well">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#third_party_risk_mgts" data-toggle="tab">Third Party</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="Policy" class="tab-pane active">
<h1>Listing Third Party Risk Mgts</h1>
<table class="table table-bordered">
  <tr>
    <th>Risk title</th>
    <th>Applicable third parties</th>
    
  </tr>

<% @third_party_risk_mgts.each do |third_party_risk_mgt| %>
  <tr>
    <td><%= third_party_risk_mgt.Risk_Title %></td>
    <td><%= third_party_risk_mgt.Applicable_Third_Parties %></td>
    
    <td><%= link_to 'Show', third_party_risk_mgt %></td>
    <td><%= link_to 'Edit', edit_third_party_risk_mgt_path(third_party_risk_mgt) %></td>
    <td><%= link_to 'Destroy', third_party_risk_mgt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Third party risk mgt', new_third_party_risk_mgt_path , :class => "pure-button pure-button-primary"  %>
</div>
                </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
        </div>
    </div>
</div>
<!-- <div id="footer">Footer</div> -->
</body>
</html>
