<html>
<head>
    <title></title>
</head>
<body>
    <div id="header">
        <div><img src="/images/fixnix.png"></div>
    </div>
    <div id="main-wrap">
        <div id="sidebar">
            <%= render :partial => "layouts/menu" %>
        </div>
        <div id="content-wrap">
            <div class="sapn10 offset well">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#bu_risk_mgts" data-toggle="tab">Asset Risk Mgts</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="Policy" class="tab-pane active">

<h1>Listing bu_risk_mgts</h1>

<table class="table table-bordered">
  <tr>
    <th>Risk title</th>
    <th>Applicable business units</th>
    <th>What is the business impact if this threats materializes?</th>
    <th>Threats</th>
    <th>Vulnerabilities</th>
    <th>Risk classification</th>
    <th>Risk score</th>
    <th>Risk mitigation strategy</th>
    <th>Compensating continuity plans</th>
    <th>Risk residual score</th>
    <th>Applicable risk exceptions</th>
    <th>Risk review periodicity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bu_risk_mgts.each do |bu_risk_mgt| %>
  <tr>
    <td><%= bu_risk_mgt.Risk_Title %></td>
    <td><%= bu_risk_mgt.Applicable_Business_Units %></td>
    <td><%= bu_risk_mgt.What_is_the_business_impact_if_this_threats_materializes? %></td>
    <td><%= bu_risk_mgt.Threats %></td>
    <td><%= bu_risk_mgt.Vulnerabilities %></td>
    <td><%= bu_risk_mgt.Risk_Classification %></td>
    <td><%= bu_risk_mgt.Risk_score %></td>
    <td><%= bu_risk_mgt.Risk_Mitigation_Strategy %></td>
    <td><%= bu_risk_mgt.Compensating_Continuity_Plans %></td>
    <td><%= bu_risk_mgt.Risk_Residual_Score %></td>
    <td><%= bu_risk_mgt.Applicable_Risk_Exceptions %></td>
    <td><%= bu_risk_mgt.Risk_Review_periodicity %></td>
    <td><%= link_to 'Show', bu_risk_mgt  %></td>
    <td><%= link_to 'Edit', edit_bu_risk_mgt_path(bu_risk_mgt) %></td>
    <td><%= link_to 'Destroy', bu_risk_mgt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
                        <%= link_to 'New Bu risk mgt', new_bu_risk_mgt_path , :class => "pure-button pure-button-primary"  %>
                    </div>
                </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
        </div>
    </div>
</div>
<!-- <div id="footer">Footer</div> -->
</body>
</html>